
# windows
Thumbs.db

# osx
.DS_store
.AppleDouble
.LSOverride

# Un*x
*~
*.swp*

# bin
*.exe
*.jar
*.out
*.dll
*.elf
*.so
*.a
*.o

# eclipse
/.settings
/.metadata
/.classpath
/.project
/eclipse
/bin

# intellij
/.idea
/out
*.ipr
*.iws
*.iml

# gradle
/.gradle
/gradle
!/gradle/wrapper/gradle-wrapper.jar

# env
/run
/build
/venv
